<div>
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="title is-1">Quest Path</p>
      </div>
    </div>

    <!-- Right side -->
    <div class="level-right">
      <p class="level-item">
        <b-dropdown aria-role="list" v-if="savedQuestPaths.length > 0" @change="selectSavedQuestPath">
          <button class="button is-light" slot="trigger">
            <span>Saved Quest Paths</span>
            <b-icon icon="angle-down"></b-icon>
          </button>

          <b-dropdown-item v-for="(questPath, index) in savedQuestPaths" aria-role="listitem" :value="index" :key="index">
            {{questPath.path[0].name}} -> {{questPath.path[questPath.path.length - 1].name}}
          </b-dropdown-item>
        </b-dropdown>
      </p>

      <p class="level-item"><b-button v-if="user" type="is-danger" @click="logout">Logout</b-button></p>
      <p class="level-item"><b-button v-if="!user" @click="signInWithGoogle">Sign in with Google</b-button></p>
    </div>
  </nav>

  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-light">
            <p class="title is-4">How to Use</p>
            <p class="subtitle is-6">Select a start and end quest by typing their names below. As you type, this tool will lookup the quests by name in the XIVDB, which is an up-to-date list of all quests in Final Fantasy 14.</p>
          </article>
          <article class="tile is-child notification is-light">
            <p class="title is-4">Saving Your Paths</p>
            <p class="subtitle is-6">Once you've generated a path between the start and end quests, you can save them to your Google account by logging in via the button in the top right. If you remain logged in, this tool will save the current state of the quest path when you press the Save button. This includes the "checked" state, as long as you re-save the path when you adjust the checks.</p>
          </article>
        </div>
      </div>
    </div>
  </div>

  <div v-if="questPath.path.length > 0" class="quest-cards-holder">
    <div class="columns is-multiline quest-cards">
      <div class="column is-narrow quest-card has-background-light" v-for="(quest, index) in questPath.path">
        <quest-card v-model="questPath.path[index]"></quest-card>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <b-button v-if="questPath.path.length > 0 && user" :loading="isSaving" type="is-success" @click="save">Save Quest Path</b-button>
    </div>
  </div>

  <b-field label="Start Quest:">
    <b-autocomplete
        v-if="!selectedStartQuest"
        placeholder="Search by name"
        :data="startingQuestCandidates"
        field="title"
        :loading="isLoading"
        @typing="searchQuestByName($event, startingQuestCandidates)"
        @select="option => selectedStartQuest = option">

      <template slot-scope="props">
        <div class="media">
          <div class="media-left">
            <img width="32" :src="getIconFullUrl(props.option.iconUrl)">
          </div>
          <div class="media-content">
            {{ props.option.name }}
          </div>
        </div>
      </template>
    </b-autocomplete>

    <b-button v-if="selectedStartQuest" type="is-danger" icon-pack="fas" icon-right="trash-alt" @click="selectedStartQuest = null">
      {{selectedStartQuest.name}}
    </b-button>
  </b-field>

  <b-field label="End Quest:">
    <b-autocomplete
        v-if="!selectedEndQuest"
        placeholder="Search by name"
        :data="endingQuestCandidates"
        field="title"
        :loading="isLoading"
        @typing="searchQuestByName($event, endingQuestCandidates)"
        @select="option => selectedEndQuest = option">

      <template slot-scope="props">
        <div class="media">
          <div class="media-left">
            <img width="32" :src="getIconFullUrl(props.option.iconUrl)">
          </div>
          <div class="media-content">
            {{ props.option.name }}
          </div>
        </div>
      </template>
    </b-autocomplete>

    <b-button v-if="selectedEndQuest" type="is-danger" icon-pack="fas" icon-right="trash-alt" @click="selectedEndQuest = null">
      {{selectedEndQuest.name}}
    </b-button>
  </b-field>

  <b-message title="Warning" type="is-warning" aria-close-label="Close message">
    If there isn't a path between the quests then this tool may run for a very long time and produce bad outputs.
  </b-message>

  <b-loading :active.sync="isLoading"></b-loading>
</div>
